{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>About This Wikipedia Search App</h1>
            <p>This is a demonstration project built using the Python Flask framework and the Wikipedia API.</p>
            <p>It showcases the fundamentals of Web programming learned in the CP1404 course, including: routing, view functions, and the use of Jinja templating.</p>
            <p>Key technologies used:</p>
            <ul>
                <li>Python Flask Framework</li>
                <li>Jinja2 Template Inheritance</li>
                <li>The Wikipedia Python library</li>
            </ul>
        </div>
    </div>
{% endblock %}